.radio-button-field {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
  * {
    cursor: pointer;
  }
  input[type="radio"] {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
  }
  .checking-info{
    position: relative;
    padding-left: 22px;
  }
  .text{
    color: #7081B9;
  }
  .check-icon {
    height: 14px;
    width: 14px;
    display: inline-block;
    border: 2px solid #7081B9;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    @include transition(all 0.25s);
    &::before{
      content: "";
      height: 6px;
      width: 6px;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%) scale(0));
      @include transition(all 0.25s);
      border-radius: 1px;
      background-color: #00DCD3;
    }
  }
  input[type="radio"]:checked + .checking-info{
    .check-icon{
      border-color: #161637;
      animation-duration: .2s;
      animation-name: select-radio;
      animation-direction: Normal;
      &::before{
        @include transform(translate(-50%,-50%) scale(1));
      }
    }
    .text{
      color: #161637;
    }
  }

}
.radio-button-field:last-child {
  margin-right: 0;
}
@-webkit-keyframes select-radio {
  0% {
    -webkit-box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #7081B9, inset 0 0 0 3px #ddd, inset 0 0 0 16px #7081B9, inset 0 0 0 16px #ddd;
            box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #7081B9, inset 0 0 0 3px #ddd, inset 0 0 0 16px #7081B9, inset 0 0 0 16px #ddd;
  }
  90% {
    -webkit-box-shadow: 0 0 0 10px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 2px #7081B9, inset 0 0 0 16px #ddd;
            box-shadow: 0 0 0 10px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 2px #7081B9, inset 0 0 0 16px #ddd;
  }
  100% {
    -webkit-box-shadow: 0 0 0 12px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 3px #7081B9, inset 0 0 0 16px #ddd;
            box-shadow: 0 0 0 12px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 3px #7081B9, inset 0 0 0 16px #ddd;
  }
}
@keyframes select-radio {
  0% {
    -webkit-box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #7081B9, inset 0 0 0 3px #ddd, inset 0 0 0 16px #7081B9, inset 0 0 0 16px #ddd;
            box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #7081B9, inset 0 0 0 3px #ddd, inset 0 0 0 16px #7081B9, inset 0 0 0 16px #ddd;
  }
  90% {
    -webkit-box-shadow: 0 0 0 10px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 2px #7081B9, inset 0 0 0 16px #ddd;
            box-shadow: 0 0 0 10px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 2px #7081B9, inset 0 0 0 16px #ddd;
  }
  100% {
    -webkit-box-shadow: 0 0 0 12px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 3px #7081B9, inset 0 0 0 16px #ddd;
            box-shadow: 0 0 0 12px #ddd, inset 0 0 0 0 #7081B9, inset 0 0 0 1px #ddd, inset 0 0 0 3px #7081B9, inset 0 0 0 16px #ddd;
  }
}